* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  color: #335576;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* 
-fixed on top of page
-bg color: #ffffff
-logo:#335576
-current active page underline #DB7A4E 
*/
@media screen and (max-width: 480px) {
  #home-link {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 8;
  padding: 2% 7% 2% 7%;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 2rem;
  }
}
.header__title:hover {
  transform: scale(1.2);
}
.header__title-link {
  color: #335576;
  font-size: 1.5rem;
}
@media screen and (max-width: 480px) {
  .header__title-link {
    font-size: 0.75rem;
  }
}
.header__menu {
  display: flex;
}
.header__menu-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 1.25rem;
  padding-bottom: 0.625rem;
}
.header__menu-item:hover {
  border-bottom: 3px solid #335576;
}
@media screen and (max-width: 480px) {
  .header__menu-item {
    font-size: 0.75rem;
    margin-left: 0.75rem;
  }
}
.header__menu-item--current {
  border-bottom: 3px solid #DB7A4E;
}
.header__menu-item--highlight a {
  color: #DB7A4E;
}

.button {
  background-color: #DB7A4E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  border-radius: 1.25rem;
  padding: 0.625rem 1.875rem;
}
.button:hover {
  transform: scale(1.2);
  box-shadow: 0px 1px 1px black;
}
.button > p {
  padding: 0;
}

/*
background-color: #FEFAF5;
footer titles and text: #335576;
subtitles: #DB7A4E
*/
.footer {
  background-color: #FEFAF5;
  color: #335576;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 0;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
@media screen and (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__title {
  margin-bottom: 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__title {
    display: none;
  }
}
.footer__icon {
  height: 2.125rem;
  width: auto;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .footer__icon {
    height: 1.6rem;
    width: auto;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__icon {
    height: 24px;
    width: auto;
    margin: 0 1rem;
  }
}
.footer__subtitle {
  color: #DB7A4E;
  font-size: 0.75rem;
}
@media screen and (max-width: 768px) {
  .footer__subtitle {
    font-size: 0.55rem;
    margin-right: 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__subtitle {
    font-size: 0.45rem;
    margin-bottom: 1rem;
    visibility: hidden;
  }
}
.footer__info {
  margin: 0;
  font-size: 1rem;
  color: #335576;
}
@media screen and (max-width: 768px) {
  .footer__info {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    margin-bottom: 0.3rem;
  }
}

.hours {
  width: 35vw;
}
@media screen and (max-width: 768px) {
  .hours {
    margin-bottom: 0.3rem;
    width: 30vw;
  }
}
@media screen and (max-width: 480px) {
  .hours {
    display: none;
  }
}
.hours__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .social {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .social {
    margin-bottom: 0.3rem;
    align-items: flex-end;
    position: relative;
    bottom: 30px;
    left: 20px;
  }
}

.itinirary, .itinirary--greece, .itinirary--iceland, .itinirary--hawaii {
  padding: 7%;
}
.itinirary__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .itinirary, .itinirary--greece, .itinirary--iceland, .itinirary--hawaii {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.itinirary__title {
  margin: 0;
  color: #ffffff;
  font-size: 4rem;
}
.itinirary--hawaii {
  background-image: url("../assets/Images/hawaii.jpg");
  background-size: cover;
  background-position: center;
}
.itinirary--iceland {
  background-image: url("../assets/Images/iceland.jpg");
  background-size: cover;
  background-position: center;
}
.itinirary--greece {
  background-image: url("../assets/Images/greece.jpg");
  background-size: cover;
  background-position: center;
}

.itinirary-card {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px black;
  width: 20vw;
  height: 32vw;
  margin: 2rem;
  overflow: hidden;
  background-color: #ffffff;
  text-align: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: #000000;
}
.itinirary-card:hover {
  opacity: 0.75;
  box-shadow: 7px 7px 7px black;
  transform: scale(1.2);
}
@media screen and (max-width: 480px) {
  .itinirary-card {
    width: 60vw;
    height: auto;
  }
}
.itinirary-card__title {
  border-bottom: 2px solid #000000;
}
.itinirary-card__copy {
  padding: 1rem;
  background-color: #FEFAF5;
  margin-top: 0.5rem;
}
@media screen and (max-width: 768px) {
  .itinirary-card__copy {
    padding-top: 0rem;
    font-size: 0.85rem;
  }
}/*# sourceMappingURL=destinations.css.map */