@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
  margin-top: 5rem;
  color: #335576;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

/* 
-fixed on top of page
-bg color: #ffffff
-logo:#335576
-current active page underline #DB7A4E 
*/
@media screen and (max-width: 480px) {
  #home-link {
    display: none;
  }
}

.header {
  position: fixed;
  top: 0;
  z-index: 8;
  padding: 2% 7% 2% 7%;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
@media screen and (max-width: 480px) {
  .header {
    padding: 2rem;
  }
}
.header__title:hover {
  transform: scale(1.2);
}
.header__title-link {
  color: #335576;
  font-size: 1.5rem;
}
@media screen and (max-width: 480px) {
  .header__title-link {
    font-size: 0.75rem;
  }
}
.header__menu {
  display: flex;
}
.header__menu-item {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-left: 1.25rem;
  padding-bottom: 0.625rem;
}
.header__menu-item:hover {
  border-bottom: 3px solid #335576;
}
@media screen and (max-width: 480px) {
  .header__menu-item {
    font-size: 0.75rem;
    margin-left: 0.75rem;
  }
}
.header__menu-item--current {
  border-bottom: 3px solid #DB7A4E;
}
.header__menu-item--highlight a {
  color: #DB7A4E;
}

.button {
  background-color: #DB7A4E;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  border-radius: 1.25rem;
  padding: 0.625rem 1.875rem;
}
.button:hover {
  transform: scale(1.2);
  box-shadow: 0px 1px 1px black;
}
.button > p {
  padding: 0;
}

/*
background-color: #FEFAF5;
footer titles and text: #335576;
subtitles: #DB7A4E
*/
.footer {
  background-color: #FEFAF5;
  color: #335576;
  padding: 3rem 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    padding: 0;
  }
}
.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 75%;
}
@media screen and (max-width: 480px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
.footer__title {
  margin-bottom: 0;
  font-size: 1.5rem;
}
@media screen and (max-width: 768px) {
  .footer__title {
    font-size: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__title {
    display: none;
  }
}
.footer__icon {
  height: 2.125rem;
  width: auto;
  margin-right: 2rem;
}
@media screen and (max-width: 768px) {
  .footer__icon {
    height: 1.6rem;
    width: auto;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__icon {
    height: 24px;
    width: auto;
    margin: 0 1rem;
  }
}
.footer__subtitle {
  color: #DB7A4E;
  font-size: 0.75rem;
}
@media screen and (max-width: 768px) {
  .footer__subtitle {
    font-size: 0.55rem;
    margin-right: 0.2rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__subtitle {
    font-size: 0.45rem;
    margin-bottom: 1rem;
    visibility: hidden;
  }
}
.footer__info {
  margin: 0;
  font-size: 1rem;
  color: #335576;
}
@media screen and (max-width: 768px) {
  .footer__info {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .contact {
    margin-bottom: 0.3rem;
  }
}

.hours {
  width: 35vw;
}
@media screen and (max-width: 768px) {
  .hours {
    margin-bottom: 0.3rem;
    width: 30vw;
  }
}
@media screen and (max-width: 480px) {
  .hours {
    display: none;
  }
}
.hours__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .social {
    justify-content: flex-start;
  }
}
@media screen and (max-width: 480px) {
  .social {
    margin-bottom: 0.3rem;
    align-items: flex-end;
    position: relative;
    bottom: 30px;
    left: 20px;
  }
}

.form {
  margin-left: 2rem;
}
.form__name {
  display: table;
}
.form__email {
  display: table-row;
}
@media screen and (max-width: 480px) {
  .form {
    margin: 0;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .form__name, .form__email {
    display: flex;
    flex-direction: column;
  }
}

label,
input {
  display: table-cell;
  margin-bottom: 2rem;
  border-radius: 5px;
}
@media screen and (max-width: 480px) {
  label,
input {
    display: flex;
  }
}

label {
  margin-bottom: 2rem;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  label {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}
@media screen and (max-width: 480px) {
  label {
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
}

.get-started, .get-started--bg {
  padding: 7%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.get-started__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .get-started, .get-started--bg {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.get-started__title {
  margin: 0;
  color: #ffffff;
  font-size: 4rem;
}
@media screen and (max-width: 480px) {
  .get-started, .get-started--bg {
    align-items: center;
  }
}
.get-started__title {
  align-self: flex-start;
}
@media screen and (max-width: 480px) {
  .get-started__title {
    text-align: center;
  }
}
.get-started__title::before {
  position: relative;
  content: "✈️";
  font-size: 3rem;
  top: -30px;
  left: 160px;
}
@media screen and (max-width: 768px) {
  .get-started__title::before {
    position: relative;
    content: "✈️";
    font-size: 3rem;
    top: 7px;
    left: 500px;
  }
}
@media screen and (max-width: 480px) {
  .get-started__title::before {
    display: none;
  }
}
.get-started--bg {
  background-image: url("../assets/Images/hawaii-flipped.jpg");
  background-size: cover;
  background-position: center;
}

.booking {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px #335576;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 7%;
  margin: 5%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.booking__copy {
  font-weight: bold;
}
.booking__title {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.booking__bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.booking__top {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .booking__top {
    flex-direction: column;
    align-items: center;
  }
}/*# sourceMappingURL=get-started.css.map */