// GET STARTED //

@use "./partials/_global.scss" as *;
@use "./partials/_colors.scss" as *;
@use "./partials/_mixins.scss" as *;
@use "./partials/_variables.scss" as *;

// FORM //
// adjusted form example code from MDN https://developer.mozilla.org/en-US/docs/Web/HTML/Element/form
.form {
  margin-left: 2rem;
  &__name {
    display: table;
  }
  &__email {
    display: table-row;
  }
}

label,
input {
  display: table-cell;
  @include margin-bottom();
  @include border-radius();
}

label {
  @include margin-bottom();
  @include tablet{
    @include flex(column, space-around);
    align-items: center;
  }
}
//form example code end

// MAIN SECTION //
.get-started {
  @include main-section();
  @include flex(column);
  @include align-items();


  &__title {
    align-self: flex-start;
    &::before {
      position: relative;
    content: "✈️";
    @include font-size (3rem);
    top: -30px;
    left: 160px;
    @include tablet{
      text-shadow: 1px 1px 2px $neutral-light;
        position: relative;
        content: "✈️";
        @include font-size (3rem);
        top: 7px;
        left: 598px;
    }
  }  
  }
  &--bg {
    @extend .get-started;
    @include section-background(url("../assets/Images/hawaii-flipped.jpg"));
  }
}

.booking {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px $primary-text;
  background-color: rgba(255, 255, 255, 0.75);
  padding: 7%;
  margin: 5%;
  @include width(70%);
  @include flex(column);
  align-items: center;

  &__copy {
    font-weight: bold;
  }
  &__title {
    @include flex(row, space-around);
    @include margin-bottom();
    @include font-size(1.5rem);
  }
  &__bottom {
    @include flex();
  }
  &__top {
    @include flex();
  }
}
