// COLORS SCSS

// #ffffff
// nav background
// other text
$neutral-light:#ffffff;

// #000000
$neutral-dark:#000000;

// #335576
// site logo/watermark
// footer titles and text
// home page hero slogan
// home page recommendations title
$primary-text:#335576;

// #DB7A4E
// current active page underline
// footer subtitles
// home page get started button background
$action-color:#DB7A4E;

// #FEFAF5
// footer background
// home page hero background
// destination activities background
$background-color:#FEFAF5;



// rgba(0,0,0,0.2) = solid black with 20%opacity
// home page border of cards
// home page box-shadow
