// GLOBAL SCSS


// set border-box value on all elements, including ::after and ::before (not included in * selector), box-sizing is not an inherited value
// * ::after ::before { check syntax has comma or space?
  // box-sizing: border-box;}
  // body{margin:0;}

// FONTS
// base font for the site Verdana (where to get verdana? download?) 

/* NAVIGATION BAR  */
/* 
-fixed on top of page
-bg color: #ffffff
-logo:#335576
-current active page underline #DB7A4E 
*/


/* FOOTER */
/*
background-color: #FEFAF5;
footer titles and text: #335576;
subtitles: #DB7A4E
*/
