// GLOBAL SCSS

// set border-box value on all elements, including ::after and ::before (not included in * selector), box-sizing is not an inherited value
*{
  box-sizing: border-box;
}

  body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin:0;
    padding: 0;
    margin-top:80px;
    color:#335576;
  }

  h1, h2, h3, h4 {
  margin: 0;
  }

  ul{
    margin:0;
  }

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    color:#335576;
  }


/* NAVIGATION BAR  */
/* 
-fixed on top of page
-bg color: #ffffff
-logo:#335576
-current active page underline #DB7A4E 
*/


.header{
  position: fixed;
  top:0;
  z-index:1;
  padding: 2% 7% 2% 7%;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;


  // &__title{
  //   color:#335576;
  //   font-weight: bold;
  //   font-size: 1.5rem;
 
  // }
  &__title-link{
    color:#335576;
    font-weight: bold;
    font-size: 1.5rem;
  }

  &__menu{
    display: flex;

  }
  
  &__menu-item{
    height:fit-content;
    margin-left:20px;
    padding-bottom: 10px;
    &:hover{
      border-bottom: 3px solid #335576;
    
 
  }
}
  &__menu-item--current{
    border-bottom: 3px solid #DB7A4E;
  }

  &__menu-item--highlight a{
    color:#DB7A4E;
  }
}

.button{
  background-color:#DB7A4E;
  width:fit-content;
  color:#ffffff;
  border-radius: 20px;
  padding:10px 30px;
  &:hover{
  transform: scale(1.2);
  box-shadow: 0px 1px 1px rgba(0,0,0,01);
}
& > p{
  padding:0;
}
}

.card{
  border:1px solid rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0,0,0,02);
  width:20vw;
  height:32vw;

 
  &:hover{
    opacity: 0.75;
    box-shadow: 7px 7px 7px rgba(0,0,0,02);
    transform: scale(1.2);
  }
}


/* FOOTER */

.footer{
  background-color:#FEFAF5;
  color:#335576;
  display:flex;
  justify-content: center;

  &__wrapper{
    display: flex;
    width: 70%;
    justify-content: space-between;
}
&__title{
  margin-bottom:0;
}
&__icon{
  height:30px;
  width:30px;
  }
  }

//   &__subtitle{
//     color:#DB7A4E;
//   }
// }

.hours{
  width:30vw;


  &__wrapper{
  display:flex;
 justify-content: space-between;
 }

//  &__title{
//    margin-bottom:0;
//  }
}


.social{
  display:flex;
    flex-direction: column;
  // &__icon{
  // height:30px;
  // width:30px;
  // }

  // &__wrapper{
  
  // }
}
/*
background-color: #FEFAF5;
footer titles and text: #335576;
subtitles: #DB7A4E
*/




//seperate card class or use mixin and apply style to both card classes?
// or class modifier?
//.card in global
// .card{}

// //this goes in destinations scss
// // option: extends card
// .destinations-card{


//   &__link{

//   }

//   &__image{

//   }

//   &__title{

//   }
// }

// //this goes in main scss
// .itinirary-card{


//   &__title{

//   }

//   &__copy{

//   }
// }